@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
	margin: 0
}

#content {
	width: 100%;
	height: 100%;
	background-color: white;
}

.NavigationPanel {
	width: 10%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
	background-color: rgb(33, 138, 41);
}

.DashboardButton {
	padding: 5px;
	margin: 5px;
	float: left;
	clear: left;
}

#CharlotteLogo {
	height: 10%;
	width: 10%;
	vertical-align: middle;
}

#AppTitle {
	color: #006e51;
	font-size: 40px;
	vertical-align: middle;
}

#DashboardTop{
	width: 90%;
	float: right;
	margin: 0px;
	height: 300px;
}

#DashboardAppHeader {
	width: 90%;
	float: right;
	margin: 0px;
	text-align: center;
	background-color: #ffffff;
}

h6{
	vertical-align: middle;
	margin: -5px;
	padding: 10px;
	font-size: 25px;
	color: white;
	text-align: center;
}
.buttonLocation{
  display: inline-block;
  vertical-align: center;
  width: 325px;
  background: #ffffff;
  width: calc(88% - 60px);
  margin-bottom: 25px;
  font-size: 100%;
  color: #555555;
  padding-right: 0;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
 }