@CHARSET "ISO-8859-1";

html,body
{
    height:100%;
    background-color: rgb(33, 138, 41);
}

.NavigationPanel {
	width: 10%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
	background-color: rgb(33, 138, 41);
}

.DashboardButton {
	padding: 5px;
	margin: 5px;
	width: 70%; 
	height: 70%;
	float: left;
	clear: left;
}

.DashboardButton:hover {
	opacity: 0.5;
}

html, body {
	height: 100%;
	margin: 0
}

#content {
	width: 100%;
	height: 100%;
	background-color: white;
}

#DashboardHeader {
	width: 90%;
	float: right;
	margin: 0px;
	text-align: right;
	background-color: rgb(33, 138, 41);
}

h3 {
	vertical-align: middle;
	margin: -5px;
	padding: 10px;
	font-size: 25px;
	color: white;
}

#DashboardAppHeader {
	width: 90%;
	height: 75%;
	float: right;
	margin: 0px;
	text-align: center;
	background-color: #ffffff;
	
}

#CharlotteLogo {
	height: 10%;
	width: 10%;
	vertical-align: middle;
}

#AppTitle {
	color: #006e51;
	font-size: 350%;
	vertical-align: middle;
}

.Toast {
    width:50%;
    height:20px;
    height:auto;
    position:absolute;
    left:25%;
    top:67px;
    background-color: rgba(8, 195, 4, 0.93);
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}