@CHARSET "ISO-8859-1";

#DashboardTop{
	width: 90%;
	float: right;
	margin: 0px;
	height: 300px;
}

.DashboardTopPanels{
	width: 33%;
	height: 300px;
	float: left;
}

#Top1{
	background-color: white;
}

#Top2{
	background-color: #004D04;
}

#Top3{
	background-color: white;
}

#top1-area{
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	clear: right;
}

#top1-chart-area{
	width: 75%;
	height: 75%;
	padding: 0px;
	margin: 0px;
	clear: right;
}

#top2-area{
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#top2-chart-area{
	width: 75%;
	height: 75%;
	padding: 0px;
	margin: 0px;
}

#top3-area{
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#top3-chart-area{
	width: 75%;
	height: 75%;
	padding: 0px;
	margin: 0px;
}

#DashboardBottom{
	text-align: center;
	width: 90%;
	float: right;
	margin: 0px;
	background-color: white;
}

#DashboardBottomArea{
	padding: 10px;
}

.goog-menu-vertical {
	max-height: 100px;
	overflow-y: auto;
}


select {
	width: 100px;
}