@CHARSET "ISO-8859-1";

body{
	background-image: url(https://upload.wikimedia.org/wikipedia/en/3/3a/Skyline_from_CSOL.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
dy {
  margin: 0;
  padding: 0;
}
.parent:before {
  content: '';
  display: inline-block;
  height: 40%; 
  vertical-align: middle;
  margin-right: -0.25em; 
 }
 .parent{
  text-align: center;
} 
.loginBox {
  display: inline-block;
  vertical-align: middle;
  width: 325px;
  border: #cdcdcd solid 2px;
  background: #ffffff;
 }
.logField{
  width: calc(88% - 40px); /* 88%; other option*/
  margin-bottom: 1px;
  border: 1px solid #ccc;
  font-size: 100%;
  color: #555555;
  padding-right: 0;
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.logField:hover{
  border:1px solid #638cb5;
}
.logField:focus{
  border:1px solid #638cb5;
  outline:none;
}
#LogMesg{
  display: none;
  margin-top: 7%;
  color: red;
}
#username{
  margin-top: 7%;
  background-image: url(http://s30.postimg.org/wuvnm7ry5/User.png);
  background-size: 16px 16px;
  background-position: 14px 9px;
  background-repeat: no-repeat;
}
#password{
  background-image: url(http://s30.postimg.org/rys0uirst/Login.png);
  background-size: 16px 16px;
  background-position: 14px 9px;
  background-repeat: no-repeat;  
}
#email{
  margin-top: 7%;
  background-image: url(http://s30.postimg.org/wuvnm7ry5/User.png);
  background-size: 16px 16px;
  background-position: 14px 9px;
  background-repeat: no-repeat;
}
.submit{
  width:88%;
  background:#638cb5;
  border:0;
  margin-top: 4%;
  padding:4%;
  font-size:100%;
  color:#ffffff; 
  margin-bottom:8%;
}
.submit:hover{
  background:#39C6F1;
  transition:background .2s;
  -webkit-transition:background .2s;  
  cursor:pointer;
}
.colLeft {
  float: left;
  width: 44%;
  margin-left: 6%;
  margin-bottom: 2%;
}
.colRight {
  float: Right;
  width: 33%;
  margin-right: 6%;
  margin-bottom: 2%;
}
.Toast {
    width:50%;
    height:20px;
    height:auto;
    position:absolute;
    left:25%;
    top:67px;
    background-color: rgba(8, 195, 4, 0.93);
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}