@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
	margin: 0
}

#content {
	width: 100%;
	height: 100%;
	background-color: white;
}

.NavigationPanel {
	width: 10%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
	background-color: rgb(33, 138, 41);
}

.DashboardButton {
	padding: 5px;
	margin: 5px;
	float: left;
	clear: left;
}

#CharlotteLogo {
	height: 10%;
	width: 10%;
	vertical-align: middle;
}

#AppTitle {
	color: #006e51;
	font-size: 40px;
	vertical-align: middle;
}

#DashboardTop{
	width: 90%;
	float: right;
	margin: 0px;
	height: 300px;
}

#DashboardHeader {
	width: 90%;
	float: right;
	margin: 0px;
	text-align: center;
	background-color: rgb(33, 138, 41);
}

#DashboardAppHeader {
	width: 90%;
	float: right;
	margin: 0px;
	text-align: center;
	background-color: #ffffff;
}

h4{
	vertical-align: middle;
	margin: -5px;
	padding: 10px;
	font-size: 25px;
	color: white;
	text-align: center;
}

#ReportsTop {
	float: right;
	width: 90%;
}

.reportsLabels {
	
}

#ReportsMain {
	width: 90%;
	float: right;
	margin: 0px;
	/*height: 300px;*/
	background-color: white;
}

#MainLeftSide {
	float: left;
    /*height: 300px;*/
    width: 20%;
}

#MainCenterSide, #MainRightSide{
	float: left;
    /*height: 300px;*/
    width: 40%;
}

#MainLeftSideArea, #MainCenterSideArea, #MainRightSideArea{
	padding: 10px;
    text-align: center;
}

#chart-area1, #chart-area2{
	width: 400px;
	height: 400px;
}

#Report3MainLeftSide {
	float: left;
    /*height: 300px;*/
    width: 50%;
}

#Report3MainRightSide{
	float: left;
    /*height: 300px;*/
    width: 50%;
}

#Report3MainBottom{
	float: left;
    height: 300px;
    width: 100%;
    margin: 0px;
}

#Report3MainLeftSideArea, #Report3MainRightSideArea{
	padding: 10px;
}

#Report3MainBottomArea, #Report3MainBottomArea2{
    text-align: center;
	width: 75%;
	height: 75%;
	padding: 0px;
	margin: 0px;
	clear: right;
	float: left;
}

.tblHeaderClass, .tblRowClass{
	height: 10px;
}

.rowLight {
	padding: 5px;
	background-color: white;
}

.rowDark {
	margin: 5px;
	background-color: #82F28A;
}

ul {
	list-style-type: none;
	text-align: center;
}

li {
	padding: 5px;
}

select {
	width: 300px;
}