<div id="MainLeftSide">
	<div id="MainLeftSideArea">
		<form style="text-align: left">
			<input type="radio" name="reportOptions" value="count" checked="checked">Count</input> 
			<br> 
			<input type="radio" name="reportOptions" value="count">Mileage</input> 
			<br> 
			<input type="radio" name="reportOptions" value="count">CO2</input> 
			<br>
			<input type="radio" name="reportOptions" value="count">NOx</input>
		</form>
	</div>
</div>
<div id="MainCenterSide">
	<div id="MainCenterSideArea">
		<div id="chart-area1"></div>
	</div>
</div>
<div id="MainRightSide">
	<div id="MainRightSideArea">
		<div id="chart-area2"></div>
	</div>
</div>