<div id="Report3">
	<div id="Report3MainLeftSide">
		<div id="Report3MainLeftSideArea">
			<h3 style="color: black; text-align: center;">Vehicle 1</h3>
			<ul>
				<li><select id="Report3YearList1">
						<option value="-Select-">-Select-</option>
				</select></li>
				<li><select id="Report3MakeList1" disabled>
						<option value="-Select-">-Select-</option>
				</select></li>
				<li><select id="Report3ModelList1" disabled>
						<option value="-Select-">-Select-</option>
				</select></li>
				<li><select id="Report3OptionsList1" disabled>
						<option value="-Select-">-Select-</option>
				</select></li>
			</ul>
			<div id="Report3Info1" style="display: none;">
				<div class="rowLight">
					<label style="width: 50%; float: left;">MPG City: </label> <label
						id="mpgCity1"></label>
				</div>
				<div class="rowDark">
					<label style="width: 50%; float: left;">MPG Highway: </label> <label
						id="mpgHighway1"></label>
				</div>
				<div class="rowLight">
					<label style="width: 50%; float: left;">MPG Combined
						City/Highway: </label> <label id="mpgCombined1"></label>
				</div>
				<div class="rowDark">
					<label style="width: 50%; float: left;">Tailpipe CO2: </label> <label
						id="tailpipeCO21"></label>
				</div>
			</div>
		</div>
	</div>

	<div id="Report3MainRightSide">
		<div id="Report3MainRightSideArea">
			<h3 style="color: black; text-align: center;">Vehicle 2</h3>
			<ul>
				<li><select id="Report3YearList2">
						<option value="-Select-">-Select-</option>
				</select></li>
				<li><select id="Report3MakeList2" disabled>
						<option value="-Select-">-Select-</option>
				</select></li>
				<li><select id="Report3ModelList2" disabled>
						<option value="-Select-">-Select-</option>
				</select></li>
				<li><select id="Report3OptionsList2" disabled>
						<option value="-Select-">-Select-</option>
				</select></li>
			</ul>
			<div id="Report3Info2" style="display: none;">
				<div class="rowLight">
					<label style="width: 50%; float: left;">MPG City: </label> <label
						id="mpgCity2"></label>
				</div>
				<div class="rowDark">
					<label style="width: 50%; float: left;">MPG Highway: </label> <label
						id="mpgHighway2"></label>
				</div>
				<div class="rowLight">
					<label style="width: 50%; float: left;">MPG Combined
						City/Highway: </label> <label id="mpgCombined2"></label>
				</div>
				<div class="rowDark">
					<label style="width: 50%; float: left;">Tailpipe CO2: </label> <label
						id="tailpipeCO22"></label>
				</div>
			</div>
		</div>
	</div>

	<div id="Report3MainBottom">
			<div style="padding: 5px; width: 25%; float: left;"></div>
			<div id="Report3BarChart" style="width: 25%; float: left;"></div>
			<div id="Report3BarChart2" style="width: 25%; float: left;"></div>
	</div>

</div>